<<<<<<< HEAD
<h1> Edit Article</h1> 

<form id="edit-form" action="/articles/<% index %>">

  <div class="form-group">
    <label for="title" class="hidden">Title</label>
    <input type="text" name="title" class="form-control" id="title" placeholder="Title">
  </div>

  <div class="form-group">
    <label for="body" class="hidden">Body</label>
    <textarea type="text" class="form-control" id="body" placeholder="Body" name="body"> <%= article.body %> </textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
=======
<h1> Edit Article </h1>


<form id="edit-form" action="/articles/<%= index %>" > 
	
	<div class="form-group">
		<label for="title" class="hidden" >Title</label>
		<input type="text" name="title" class="form-control" id="title" placeholder="Title" >
	</div> 

	<div class="form-group">
		<label for="body" class="hidden"  > body </label>
		<textarea type="text" class="form-control" id="body" placeholder="Body" name="body"> <%= article.body %> </textarea>	
	</div>

	<button type="submit" class="btn btn-primary" > submit </button>
</form>







>>>>>>> d82dbe1464dbc3402ea971eb751c3c80020c93c0
