<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>Daily Planet</title>
</head>
<body>
  <div class="container">
    <%- body %>
  </div>
<<<<<<< HEAD
  <script type="text/javascript" src="/ajax-routing.js"></script>
=======
  <script type="text/javascript" src="/ajax-routing.js" ></script>
>>>>>>> d82dbe1464dbc3402ea971eb751c3c80020c93c0
  </body>
</html>
